
body {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 20px;
  color: #333D51;
  margin: 0;
  background: #ffffff;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
  /* 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bad+Script">
    <link rel="shortcut icon" href="assets/favicon.ico"> */
